.spinner-container {
	position: relative;
	height: 100%;
}

.spinner {
	position: absolute;
	z-index: 999;
	left: 45%;
	top: 40%;
}

.spinner-content {
	height: 100%;
}

.spinner-content-hidden {
	opacity: 0.2;
}
